﻿@using MVCDemo.Web.Utils

@{
    /**/

    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@(Html.Awe().InitPopup()
        .Name("popup1")
        .Url(Url.Action("Popup1"))
        .LoadOnce()
        .Title("popup title"))

@Html.Awe().Button().Text("Open Popup").OnClick(Html.Awe().OpenPopup("popup1"))