﻿@using Omu.Awem.Helpers
@using Omu.AwesomeMvc
@using Omu.Awem.Utils
@using MVCDemo.Helper
@using MVCDemo.Web.Helpers.Awesome



@{
    ViewBag.Title = "Index";
}

@section styles{
    <style type="text/css">
        /*.dataTables_scrollHeadInner {
            width: 100% !important;
        }*/

    </style>
}


@section header_breadcrumb{
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="">Customer</li>
            <li class="active">Lookup</li>
        </ol>
    </section>
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header  data-order='[[ 1, "asc" ]]' -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">

                            @(Html.Awe().Grid("DelmonGrid")
                                        .CssClass("table table-bordered table-striped")
                                        .Reorderable()
                                        .Mod(x => x.PageInfo().InfiniteScroll().PageSize().ColumnsSelector())
                                        .Columns(
                                    new Column
                                    {
                                        Width = 40,
                                        ClientFormat = "<a href='/fieldworker/farmer/Edit/.FarmerId'><i class='fa fa-edit'></i></a> ",
                                        Header = "Edit"
                                    },
                                        new Column
                                        {
                                            Width = 60,
                                            ClientFormat = "<a href='/fieldworker/farmer/EditAddress/.AddressId'><i class='fa fa-edit'></i></a> ",
                                            Header = "Address"
                                        },
                                        new Column { Bind = "FarmerId", Header = "Id", Groupable = false, Width = 60 }.Mod(x => x.Nohide()),
                                        new Column { Bind = "LastName", Header = "Last Name" },
                                        new Column { Bind = "FirstName", Header = "First Name" },
                                        new Column { Bind = "MiddleName", Header = "Middle Name" },
                                        new Column { Bind = "GenderValue", Header = "Gender", Width = 80 },
                                        new Column { Bind = "CellPhoneNo", Header = "Contact No 1", Width = 115 },
                                        new Column { Bind = "HomePhoneNo", Header = "Contact No 2", Width = 115 },
                                        new Column { Bind = "WorkPhoneNo", Header = "Email" },

                                        new Column { Bind = "AddressLine1", Header = "Address Line 1", Width = 150 },
                                        new Column { Bind = "ZipCode", Header = "Pincode", Width = 90 },
                                        new Column { Bind = "VillageValue", Header = "Village" },
                                        new Column { Bind = "TalukaValue", Header = "Taluka" },
                                        new Column { Bind = "CityValue", Header = "District" },
                                        new Column { Bind = "StateValue", Header = "State" },
                                        new Column { Bind = "CountryValue", Header = "Country" }
                                        )
                                        .Height(600)
                                        .SingleColumnSort()
                                        .Url(Url.Action("IndexAsync", "Farmer"))
                                        .Persistence(Persistence.Session) // save collapsed groups and nodes when switching between grid pages
                                        .ColumnsPersistence(Persistence.Session) // save columns (width, visibility, etc..) for browser session lifetime
                                        .Resizable()
                                        .Parent("txtFirstName", "FirstName")
                                        .Parent("txtLastName", "LastName")
                                        .Parent("txtCellPhoneNo", "CellPhoneNo")
                                        .Parent("txtEmail", "WorkPhoneNo")
                                        .Parent("txtAddressLine1", "AddressLine1")
                                        .Parent("txtPincode", "ZipCode")
                                        .Parent("ddlCountry", "CountryValue")
                                        .Parent("ddlState", "StateValue")
                                        .Parent("ddlDistrict", "CityValue")
                                        .Parent("ddltakula", "TalukaValue")
                                        .Parent("ddlVillage", "VillageValue")
                            )
                        </div>
                    </div>
                    @*<table id="example" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Course&nbsp;ID</th>
                                    <th>Course&nbsp;Code</th>
                                    <th>Title</th>
                                    <th>Created&nbsp;By</th>
                                    <th>Created&nbsp;On</th>
                                    <th>Modified&nbsp;By</th>
                                    <th>Modified&nbsp;On</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Course&nbsp;ID</th>
                                    <th>Course&nbsp;Code</th>
                                    <th>Title</th>
                                    <th>Created&nbsp;By</th>
                                    <th>Created&nbsp;On</th>
                                    <th>Modified&nbsp;By</th>
                                    <th>Modified&nbsp;On</th>
                                </tr>
                            </tfoot>
                        </table>*@
                    @(Html.Awe().Grid("DelmonGrid")
                                .Mod(o => o.ColumnsSelector().ColumnsAutohide().PageInfo())
                                .Url(Url.Action("GridGetItems", "DinnersGridCrud"))
                                .Parent("txtSearch", "search")
                                .Attr("data-syncg", "dinner")
                                .Height(350)
                                .Columns(
                                new Column { Bind = "Id", Width = 55 },
                                new Column { Bind = "Name" }.Mod(o => o.NoAutohide()),
                                new Column { Bind = "Date" },
                                new Column { Bind = "Chef.FirstName,Chef.LastName", ClientFormat = ".ChefName", Header = "Chef" },
                                new Column { ClientFormat = ".Meals", Header = "Meals" },
                                new Column { ClientFormat = Html.EditFormatForGrid("DinnersGrid"), Width = 55 }.Mod(o => o.Nohide()),
                                new Column { ClientFormat = Html.DeleteFormatForGrid("DinnersGrid"), Width = 55 }.Mod(o => o.Nohide())))
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

}

