﻿
@{
    ViewBag.Title = "Create";
}

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

@section header_breadcrumb{
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="">Courses</li>
            <li class="active">Lookup</li>
        </ol>
    </section>
}


<!-- Main content -->
<section class="content" id="cont" hidden>
    <div class="row">
        <!-- right column -->
        <div class="col-sm-offset-0 col-sm-12">
            <!-- Horizontal Form -->
            <div class="box box-info" ng-controller="formCourseCtrl">
                <div class="box-header with-border">
                    <h3 class="box-title">Horizontal Form</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" name="myForm" novalidate>
                    <div id="errorMessages" class="danger" ng-if="ValidationSummary" ng-repeat="vs in ValidationSummary">{{vs}}</div>
                    <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />
                   
                    <div class="box-body">
                        <div class="form-group">
                            <label for="CourseCode" class="col-sm-2 control-label">Course Code</label>
                            <div class="col-sm-10">
                                <input type="text" name="CourseCode" ng-model="CourseCode" class="form-control" id="CourseCode" placeholder="Course Code">
                                <span ng-show="myForm.CourseCode.$touched && myForm.CourseCode.$invalid">The Course Code is required.</span>
                                <span class="text-danger" ng-if="errors.formErrors.CourseCode" ng-bind="errors.formErrors.CourseCode"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" name="Title" ng-model="Title" class="form-control" id="Title" placeholder="Title">
                                <span class="text-danger" ng-if="errors.formErrors.Title" ng-bind="errors.formErrors.Title"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="button" ng-click="SaveForm()" ng-class="SaveButton"><i class="fa fa-save"></i> Save</button>
                            <button type="reset" ng-click="ResetForm()" ng-class="ResetButton">Reset</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
                <div class="text-danger" ng-if="errors.pageError" ng-bind="errors.pageError"></div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('cont').removeAttribute('hidden');        
    });
</script>
}