﻿
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section styles{
    <style type="text/css">
        /*.dataTables_scrollHeadInner {
            width: 100% !important;
        }*/

    </style>
}

@section header_breadcrumb{
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="">Courses</li>
            <li class="active">Lookup</li>
        </ol>
    </section>
}
@*<section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" ng-controller="gridCourseCtrl">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-hover"></table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>*@

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header  data-order='[[ 1, "asc" ]]' -->
                <div class="box-body">
                    @*<table id="example" class="table table-bordered table-striped dataTable" role="grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Course&nbsp;ID</th>
                                    <th>Course&nbsp;Code</th>
                                    <th>Title</th>
                                    <th>Created&nbsp;By</th>
                                    <th>Created&nbsp;On</th>
                                    <th>Modified&nbsp;By</th>
                                    <th>Modified&nbsp;On</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Course&nbsp;ID</th>
                                    <th>Course&nbsp;Code</th>
                                    <th>Title</th>
                                    <th>Created&nbsp;By</th>
                                    <th>Created&nbsp;On</th>
                                    <th>Modified&nbsp;By</th>
                                    <th>Modified&nbsp;On</th>
                                </tr>
                            </tfoot>
                        </table>*@

                    <table id="example" class="table table-bordered table-striped dataTable" role="grid"></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {


            // DataTable
            var oTable = $('#example').DataTable({
                serverSide: true,
                ajax: {
                    url: '/Courses/IndexAsync',
                    type: 'POST',
                    dataSrc: 'data'
                },

                //scrollY: 500,
                //autoWidth: true,
                scrollX: true,
                //scrollCollapse: true,
                //responsive: true,
                //deferRender: true,
                //scroller: true,
                processing: true,
                pagingType: "full_numbers",
                order: [1, "desc"],
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                //colReorder: true,
                columns: [
                    {
                        title: "#",
                        render: function (data, type, row, meta) {
                            return '<text>' + parseInt(meta.row); + '</text>';                          
                        },
                        searchable: false,
                        orderable: false,
                        targets: 0
                    },
                    { name: "ID", data: "ID", title: "Course&nbsp;ID", targets: 1 },
                    { name: "CourseCode", data: "CourseCode", title: "Course&nbsp;Code", targets: 2 },
                    { name: "Title", data: "Title", title: "Title", targets: 3 },
                    { name: "CreatedBy", data: "CreatedBy", title: "Created&nbsp;By", targets: 4 },
                    {
                        name: "CreatedOn", data: "CreatedOn", title: "Created&nbsp;On",
                        render: function (data, type, row, meta) {
                            var date = new Date(parseInt(data.replace('/Date(', '')));
                            return moment(date).format('DD-MM-YYYY hh:mm:ss a');
                            //new Date(x[0].start.match(/\d+/)[0] * 1);
                        },
                        targets: 5
                    },
                    { name: "ModifiedBy", data: "ModifiedBy", title: "Modified&nbsp;By", targets: 6 },
                    {
                        name: "ModifiedOn", data: "ModifiedOn", title: "Modified&nbsp;On",
                        render: function (data, type, row, meta) {
                            var date = new Date(parseInt(data.replace('/Date(', '')));
                            return moment(date).format('DD-MM-YYYY hh:mm:ss a');                            
                        },
                        targets: 7
                    },
                    {
                        name: null,
                        data: "ID",
                        title: "&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;",
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<a  href="/Course/Edit/' + data + '"><i class="fa fa-edit"></i> Edit</a>';
                        },
                        targets: 8
                    },
                    {
                        name: null,
                        data: "ID",
                        title: "&nbsp;Delete&nbsp;&nbsp;&nbsp;",
                        orderable: false,
                        render: function (data, type, row, meta) {
                            return '<a class="text-danger" href="/Course/Delete/' + data + '"><i class="fa fa-trash"></i> Delete</a>';
                        },
                        targets: 9
                    }
                ],
                language: {
                    decimal: ",",
                    thousands: "."
                }
            });

            // Setup - add a text input to each footer cell
            //$('#example thead th').each(function () {
            //    var title = $('#example thead th').eq($(this).index()).text();
            //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            //});

            // Apply the filter
            //$("#example tfoot input").on('keyup change', function () {
            //    otable
            //        .column($(this).parent().index() + ':visible')
            //        .search(this.value)
            //        .draw();
            //});

            //oTable.on('order.dt search.dt', function () {
            //    oTable.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
            //        cell.innerHTML = i + 1;
            //    });
            //}).draw();

            //oTable.columns().every(function () {
            //    var that = this;
            //    $('input', this.footer()).on('text change', function () {
            //        that
            //            .search(this.value)
            //            .draw();
            //    });
            //});



        });
    </script>

}