﻿@using Omu.Awem.Helpers
@using Omu.AwesomeMvc
@using Omu.Awem.Utils
@using MVCDemo.Helper

@{
    ViewBag.Title = "Farmer List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section styles{
    @*<link href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/wui/AwesomeMvc.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/wui/awem.css")" rel="stylesheet" type="text/css" />*@

}
@section styles_bottom{

    <style type="text/css">
        .box-body {
            padding: 11px !important;
        }

        .awe-grid {
            margin-top: 10px !important;
        }

        .awe-row {
            background: #fff !important;
        }

        .awe-grid .awe-groupbar {
            color: #1ebf31f7 !important;
        }
    </style>


    @*<script src="@Url.Content("~/Scripts/jquery-1.12.4.js")" type="text/javascript"></script>*@
}

@section header_breadcrumb{
    <section class="content-header">
        <h1>
            Dashboard
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="">Courses</li>
            <li class="active">Lookup</li>
        </ol>
    </section>
}

<section class="content">
    
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Farmer Index</h3>
                </div>
                <div class="box-body">
                    <div id="RJGrid_wraoper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.Awe().TextBox("txtLastName").Placeholder("search for LastName").HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" })
                                @Html.Awe().TextBox("txtFirstName").Placeholder("search for FisrtName").HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" })
                                @Html.Awe().TextBox("txtCellPhoneNo").Placeholder("search for Contact No").HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" })
                                @Html.Awe().TextBox("txtEmail").Placeholder("search for Email").HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" })
                                @Html.Awe().TextBox("txtPincode").Placeholder("search for Pincode").HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" })

                                @(Html.Awe().AjaxRadioList("ddlCountry")
                                                    .Url(Url.Action("GetCountriesAsync", "AjaxData", new { area = "" }))
                                                    .Odropdown()
                                                    .HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" }))

                                @(Html.Awe().AjaxRadioList("ddlState")
                                                    .Url(Url.Action("GetStatesAsync", "AjaxData", new { area = "" }))
                                                    .Odropdown()
                                                    .Parent("ddlCountry", "countries")
                                                    .HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" }))

                                @(Html.Awe().AjaxRadioList("ddlDistrict")
                                                    .Url(Url.Action("GetDistrictsAsync", "AjaxData", new { area = "" }))
                                                    .Odropdown()
                                                    .Parent("ddlState", "states")
                                                    .HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" }))

                                @(Html.Awe().AjaxRadioList("ddltakula")
                                                    .Url(Url.Action("GetTakulasAsync", "AjaxData", new { area = "" }))
                                                    .Odropdown()
                                                    .Parent("ddlDistrict", "districts")
                                                    .HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" }))

                                @(Html.Awe().AjaxRadioList("ddlVillage")
                                                    .Url(Url.Action("GetVillagesAsync", "AjaxData", new { area = "" }))
                                                    .Odropdown()
                                                    .Parent("ddltakula", "talukas")
                                                    .HtmlAttributes(new { style = "min-width:15em; margin-top: 5px;" }))

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">

                                @(Html.Awe().Grid("RJGrid")
                                                    .CssClass("table table-bordered table-striped")
                                                    .Reorderable()
                                                    .Mod(x => x.PageInfo().InfiniteScroll().PageSize().ColumnsSelector())
                                                    .Columns(
                                                new Column
                                                {
                                                    Width = 40,
                                                    ClientFormat = "<a href='/fieldworker/farmer/Edit/.FarmerId'><i class='fa fa-edit'></i></a> ",
                                                    Header = "Edit"
                                                },
                                                    new Column
                                                    {
                                                        Width = 60,
                                                        ClientFormat = "<a href='/fieldworker/farmer/EditAddress/.AddressId'><i class='fa fa-edit'></i></a> ",
                                                        Header = "Address"
                                                    },
                                                    new Column { Bind = "FarmerId", Header = "Id", Groupable = false, Width = 60 }.Mod(x => x.Nohide()),
                                                    new Column { Bind = "LastName", Header = "Last Name" },
                                                    new Column { Bind = "FirstName", Header = "First Name" },
                                                    new Column { Bind = "MiddleName", Header = "Middle Name" },
                                                    new Column { Bind = "GenderValue", Header = "Gender", Width = 80 },
                                                    new Column { Bind = "CellPhoneNo", Header = "Contact No 1", Width = 115 },
                                                    new Column { Bind = "HomePhoneNo", Header = "Contact No 2", Width = 115 },
                                                    new Column { Bind = "WorkPhoneNo", Header = "Email" },

                                                    new Column { Bind = "AddressLine1", Header = "Address Line 1", Width = 150 },
                                                    new Column { Bind = "ZipCode", Header = "Pincode", Width = 90 },
                                                    new Column { Bind = "VillageValue", Header = "Village" },
                                                    new Column { Bind = "TalukaValue", Header = "Taluka" },
                                                    new Column { Bind = "CityValue", Header = "District" },
                                                    new Column { Bind = "StateValue", Header = "State" },
                                                    new Column { Bind = "CountryValue", Header = "Country" }
                                                    )
                                                    .Height(600)
                                                    .SingleColumnSort()
                                                    .Url(Url.Action("IndexAsync", "Farmer"))
                                                    .Persistence(Persistence.Session) // save collapsed groups and nodes when switching between grid pages
                                                    .ColumnsPersistence(Persistence.Session) // save columns (width, visibility, etc..) for browser session lifetime
                                                    .Resizable()
                                                    .Parent("txtFirstName", "FirstName")
                                                    .Parent("txtLastName", "LastName")
                                                    .Parent("txtCellPhoneNo", "CellPhoneNo")
                                                    .Parent("txtEmail", "WorkPhoneNo")
                                                    .Parent("txtAddressLine1", "AddressLine1")
                                                    .Parent("txtPincode", "ZipCode")
                                                    .Parent("ddlCountry", "CountryValue")
                                                    .Parent("ddlState", "StateValue")
                                                    .Parent("ddlDistrict", "CityValue")
                                                    .Parent("ddltakula", "TalukaValue")
                                                    .Parent("ddlVillage", "VillageValue")
                                )
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section scripts{


}

@section scripts_bottom{

    <script src="@Url.Content("~/Scripts/AwesomeMvc.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/awem.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/utils.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    @*<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js" type="text/javascript"></script>*@

    @*call init after utils.js and validate.js*@
    @Html.Awe().Init()

    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    @*<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>*@
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

}